body{
    background-color: rgb(202, 205, 226);
}
.outline{
    border: 0px solid black;
    height: 295px;
    width: 190px;
    border-radius: 10px;
    margin: auto;
   margin-top: 180px;
    box-shadow: 2px 3px 1pc gray;
    background-color: aliceblue;
    
}
img{
    height: 160px;
    width: 165px;
    margin-left: 13px;
    margin-top: 10px;
    border-radius: 10px;
}
.statement{
    font-size: 10px;
    font-family: Arial Black;
    text-align: center;

}
.imformation{
    font-size: 9px;
    color: gray;
    text-align: center;
    font-family: Bahnschrift;
    margin-top: 15px;
}